/* -------------------- Basic Styles: Tags -------------------- */

@import url(https://fonts.googleapis.com/css?family=Domine:400,700);

html, body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

div {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

nav {
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

header {
	margin: 0px auto;
	padding: 0px;
}

footer {
	margin: 0px auto;
	padding: 0px;
	background-color: #f2c082;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
	padding: 5px;
	color: #404040;
	/*font-family: Arial, Sans-Serif;*/
	font-family: 'Domine', serif;
	font-weight: 700;
	font-weight: normal;
}

h1 {
	font-size: 28px;
}

p {
	border: 0px;
	display: inline-block;
	/*font-family: Arial, Sans-Serif;*/
	font-family: 'Domine', serif;
	font-weight: 400;
	font-size: 14px;
}

a {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	text-decoration: none;
	color: #603913;
	/*font-family: Arial, Sans-Serif;*/
	font-family: 'Domine', serif;
	font-weight: 700;
	font-weight: normal;
}

ul {
	list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
	height: auto;
	width: 100px;
}
/* --- END Basic Styles: Tags --- */

/* -------------------- Basic Styles: Classes -------------------- */

div.main-content {
	max-width: 1500px;
	padding: 50px 50px;
	margin: 0 auto;
}

div.content-wrapper {
	display: inline-block;
}

.center-content {
	text-align: center;
}

.grid-wrapper {
	position: relative;
	width: 100%;
}

div.col-wrapper {
	position: relative;
	width: 100%;
}

.col-1-of-4 {
	position: absolute;
	display: inline-block;
	width: 25.0000000000%;
	bottom: flex;
}

.col-3-of-4 {
	position: absolute;
	display: inline-block;
	width: 75.0000000000%;
	bottom: flex;
}

.col-1-of-3 {
	position: absolute;
	display: inline-block;
	width: 33.3333333333%;
	bottom: flex;
}

.col-2-of-3 {
	position: absolute;
	display: inline-block;
	width: 66.6666666666%;
	bottom: flex;
}

.col-1-of-2 {
	position: absolute;
	display: inline-block;
	width: 50.0000000000%;
	bottom: flex;
}

.col-1 {
	position: absolute;
	display: inline-block;
	width: 100.0000000000%;
	bottom: flex;
}

nav.nav-vertical ul li {
	display: block;
	margin: 7px;
	width: 100px;
}

nav.nav-horizontal ul li {
	display: inline-block;
	margin: 7px; /* top | right | bottom | left */
	width: auto;
}

p.body-copy {
	font-size: 16px;
	line-height: 30px;
}

a.call-to-action {
	font-size: 22px;
	text-decoration: underline;
	color: #603913;
}

a.button-action {
	margin: 0 auto;
	padding: 20px 50px 24px 50px;
	max-width: 250px;
	max-height: 40px;
	display: inline-block;
	background-color: #00cc66;
	border-radius: 3px;
	color: #ffffff;
	text-align: center;
}

img.button {
	max-width: 250px;
	height: 50px;
	display: inline-block;
}

.x-large-headline {
	font-size: 50px;
}
/* --- END Basic Styles: Classes --- */

/* -------------------- Sitewide Styles: Header -------------------- */

a.button.logo-home-main {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}

a.button.logo-home-main img.button.logo-home-main {
	width: 100px;
	height: 100px;
}

header div.main-content {
	position: relative;
}

header nav.main-site-nav {
	position: absolute;
	right: 50px;
	top: 60px;
}

img.home-lettermark-main {
	margin-top: 0.5%;
}

.section-header {
	height: 1000px;
	background: url("../img/bowl-336538.jpg") no-repeat center bottom;
	background-size: cover;
}
/* --- END Sitewide Styles: Header --- */

/* -------------------- Sitewide Styles: Content -------------------- */

a.button-small {
	margin: 50px;
}
/* --- END Sitewide Styles: Content --- */

/* -------------------- Sitewide Styles: Footer -------------------- */

footer div.main-content {
	text-align: center;
}

p.copyright {
	float: left;
}

footer div.main-content a.logo-home-main {
	margin: 10px;
}

nav.footer-site-nav {
	float: right;
}
/* --- END Sitewide Styles: Footer --- */

/* -------------------- Sitewide Styles: Media Queries -------------------- */

@media (max-width: 1500px) {
	img.home-lettermark-main {
		margin-top: 7%;
	}
}

@media (max-width: 1200px) {
	img.home-lettermark-main {
		margin-top: 20%;
	}
}

@media (max-width: 900px) {
	img.home-lettermark-main {
		margin-top: 30%;
	}

	footer div.main-content {
		/*clear: both;*/
	}

	p.copyright {
		display: block;
		float: none;
	}

	nav.footer-site-nav {
		display: block;
		float: none;
	}
}

@media (max-width: 700px) {
	.col-1-at-700px {
		position: absolute;
		display: inline-block;
		width: 100.0000000000%;
		bottom: flex;
	}

	img.home-lettermark-main {
		margin-top: 50%;
	}
}

@media (max-width: 650px) {
	header nav.main-site-nav {
		position: static;
		display: block;
		margin: 30px 0px 0px 0px;
		text-align: center;
	}

	nav ul li {
		display: block;
		margin: 7px;
		width: 100px;
	}

	footer div.main-content a.button.logo-home-main {
		display: inline-block;
	}
}

@media (max-width: 500px) {

}
