/* -------------------- Basic Styles: Tags -------------------- */

@import url(https://fonts.googleapis.com/css?family=Domine:400,700);

html, body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

div {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

nav {
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

header {
	margin: 0px auto;
	padding: 0px;
}

footer {
	margin: 0px auto;
	padding: 0px;
	background-color: #b3ffb3;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
	padding: 5px;
	color: #404040;
	/*font-family: Arial, Sans-Serif;*/
	font-family: 'Domine', serif;
	font-weight: 700;
	font-weight: normal;
}

h1 {
	font-size: 28px;
}

p {
	border: 0px;
	display: inline-block;
	/*font-family: Arial, Sans-Serif;*/
	font-family: 'Domine', serif;
	font-weight: 400;
	font-size: 14px;
}

a {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	text-decoration: none;
	color: #603913;
	/*font-family: Arial, Sans-Serif;*/
	font-family: 'Domine', serif;
	font-weight: 700;
	font-weight: normal;
}

ul {
	list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
	height: auto;
	width: 100px;
}
/* --- END Basic Styles: Tags --- */

/* -------------------- Basic Styles: Classes -------------------- */

div.main-content {
	max-width: 1500px;
	padding: 50px 50px;
	margin: 0 auto;
}

div.content-wrapper {
	display: inline-block;
}

.center-content {
	text-align: center;
}

.grid-wrapper {
	position: relative;
	width: 100%;
}

div.col-wrapper {
	position: relative;
	width: 100%;
}

.col-1-of-4 {
	position: absolute;
	display: inline-block;
	width: 25.0000000000%;
	bottom: flex;
}

.col-3-of-4 {
	position: absolute;
	display: inline-block;
	width: 75.0000000000%;
	bottom: flex;
}

.col-1-of-3 {
	position: absolute;
	display: inline-block;
	width: 33.3333333333%;
	bottom: flex;
}

.col-2-of-3 {
	position: absolute;
	display: inline-block;
	width: 66.6666666666%;
	bottom: flex;
}

.col-1-of-2 {
	position: absolute;
	display: inline-block;
	width: 50.0000000000%;
	bottom: flex;
}

.col-1 {
	position: absolute;
	display: inline-block;
	width: 100.0000000000%;
	bottom: flex;
}

nav.nav-vertical ul li {
	display: block;
	margin: 7px;
	width: 100px;
}

nav.nav-horizontal ul li {
	display: inline-block;
	margin: 7px; /* top | right | bottom | left */
	width: auto;
}

p.body-copy {
	font-size: 16px;
	line-height: 30px;
}

a.call-to-action {
	font-size: 22px;
	text-decoration: underline;
	color: #603913;
}

a.button-action {
	margin: 0 auto;
	padding: 20px 50px 24px 50px;
	max-width: 250px;
	max-height: 40px;
	display: inline-block;
	background-color: #00cc66;
	border-radius: 3px;
	color: #ffffff;
	text-align: center;
}

img.button {
	max-width: 250px;
	height: 50px;
	display: inline-block;
}

.x-large-headline {
	font-size: 50px;
}
/* --- END Basic Styles: Classes --- */

/* -------------------- Sitewide Styles: Header -------------------- */

a.button.logo-home-main {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}

a.button.logo-home-main img.button.logo-home-main {
	width: 100px;
	height: 100px;
}

header div.main-content {
	position: relative;
}

header nav.main-site-nav {
	position: absolute;
	right: 50px;
	top: 60px;
}

img.home-lettermark-main {
	margin-top: 0.5%;
}

.section-header {
	height: 1000px;
	background: url("../img/bowl-336538.jpg") no-repeat center bottom;
	background-size: cover;
}
/* --- END Sitewide Styles: Header --- */

/* -------------------- Sitewide Styles: Content -------------------- */

a.button-small {
	margin: 50px;
}

section.features-1 {

}

section.features-1 div.col-wrapper:nth-child(1) {
	height: 500px;
}

section.features-1 div.col-wrapper div:nth-child(1) {
	top: 0;
	left: 0;
	height: 500px;
	background: url("../img/home-feature-img-1.png") no-repeat center;
	background-size: cover;
}

section.features-1 div.col-wrapper div:nth-child(2) {
	top: 0;
	right: 0;
	height: 500px;
	text-align: center;
}

section.features-1 div.col-wrapper div:nth-child(2) p {
	display: block;
	width: 60%;
	margin: 12% auto 5% auto;
}

section.features-2 {

}

section.features-2 div.col-wrapper:nth-child(1) {
	height: 500px;
}

section.features-2 div.col-wrapper div:nth-child(1) {
	top: 0;
	left: 0;
	height: 500px;
	text-align: center;
	background-color: #f2c082;
}

section.features-2 div.col-wrapper div:nth-child(1) p {
	display: block;
	width: 50%;
	margin: 18% auto 5% auto;
}

section.features-2 div.col-wrapper div:nth-child(2) {
	top: 0;
	right: 0;
	height: 500px;
	background: url("../img/home-feature-img-2.png") no-repeat center;
	background-size: cover;
}

.section-social {
	height: 1000px;
	background: url("../img/home-social-img.png") no-repeat center top;
	background-size: cover;
	text-align: center;
}

.section-social div.main-content h1.x-large-headline {
	margin: 20px 0 0 0;
	color: #ffffff;
}

.section-social div.main-content a.social-icon-large, .section-social div.main-content a.social-icon-large img {
	width: 70px;
	height: 70px;
	margin: 20px 10px 20px 10px;
}
/* --- END Sitewide Styles: Content --- */

/* -------------------- Sitewide Styles: Footer -------------------- */
/* --- END Sitewide Styles: Footer --- */

/* -------------------- Sitewide Styles: Media Queries -------------------- */

@media (max-width: 1500px) {
	img.home-lettermark-main {
		margin-top: 7%;
	}
}

@media (max-width: 1200px) {
	img.home-lettermark-main {
		margin-top: 20%;
	}
}

@media (max-width: 900px) {
	img.home-lettermark-main {
		margin-top: 30%;
	}
}

@media (max-width: 700px) { /*----------------------------------------*/
	.col-1-at-700px {
		position: absolute;
		display: inline-block;
		width: 100.0000000000%;
		bottom: flex;
	}

	img.home-lettermark-main {
		margin-top: 50%;
	}

	section.features-1 div.col-wrapper div:nth-child(1), section.features-1 div.col-wrapper div:nth-child(2), section.features-1 div.col-wrapper:nth-child(1) {
		height: 600px;
	}

	section.features-1 div.col-wrapper div:nth-child(2) p.body-copy {
		margin: 30% auto 5% auto;
		font-size: 14px;
		line-height: 28px;
		color: #ffffff;
	}

	section.features-1 div.col-wrapper div:nth-child(2) a.call-to-action {
		font-size: 18px;
		color: #ffffff;
	}

	section.features-2 div.col-wrapper div:nth-child(1), section.features-2 div.col-wrapper div:nth-child(2), section.features-2 div.col-wrapper:nth-child(1) {
		height: 600px;
	}

	section.features-2 div.col-wrapper div:nth-child(1) {
		background-color: transparent;
	}

	section.features-2 div.col-wrapper div:nth-child(1) p.body-copy {
		margin: 20px auto 180px auto;
		font-size: 14px;
		line-height: 28px;
		color: #ffffff;
	}

	section.features-2 div.col-wrapper div:nth-child(1) a.call-to-action {
		font-size: 18px;
		color: #ffffff;
	}

	section.features-2 div.col-wrapper div:nth-child(2) {
		z-index: -1;
	}

	.section-social div.main-content h1.x-large-headline {
		font-size: 30px;
	}
}

@media (max-width: 650px) {
	a.button.logo-home-main {
		display: block;
		margin: 0 auto;
	}

	header nav.main-site-nav {
		position: static;
		display: block;
		margin: 30px 0px 0px 0px;
		text-align: center;
	}

	nav ul li {
		display: block;
		margin: 7px;
		width: 100px;
	}

	img.home-lettermark-main {
		margin-top: 50%;
	}
}

@media (max-width: 500px) {
	img.home-lettermark-main {
		margin-top: 70%;
	}
}
