/* -------------------- Basic Styles: Tags -------------------- */

html, body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

div {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

nav {
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

header {
	margin: 0px auto;
	padding: 0px;
}

footer {
	margin: 0px auto;
	padding: 0px;
	background-color: #b3ffb3;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
	padding: 5px;
	color: #404040;
	font-family: Arial, Sans-Serif;
	font-weight: normal;
}

h1 {
	font-size: 28px;
}

p {
	border: 0px;
	display: inline-block;
	font-family: Arial, Sans-Serif;
	font-size: 14px;
}

a {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	text-decoration: none;
	color: #00cc00;
	font-family: Arial, Sans-Serif;
	font-weight: normal;
}

ul {
	list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
	height: auto;
	width: 100px;
}
/* --- END Basic Styles: Tags --- */

/* -------------------- Basic Styles: Classes -------------------- */

div.main-content {
	max-width: 700px;
	padding: 50px 50px;
	margin: 0 auto;
}

div.content-wrapper {
	display: inline-block;
}

.center-content {
	text-align: center;
}

nav.nav-vertical ul li {
	display: block;
	margin: 7px;
	width: 100px;
}

nav.nav-horizontal ul li {
	display: inline-block;
	margin: 0px 10px 0px 10px; /* top | right | bottom | left */
	width: auto;
}

p.body-copy {
	font-size: 14px;
	line-height: 21px;
}

a.button-action {
	margin: 0 auto;
	padding: 20px 50px 24px 50px;
	max-width: 250px;
	max-height: 40px;
	display: inline-block;
	background-color: #00cc66;
	border-radius: 3px;
	color: #ffffff;
	text-align: center;
}

img.button {
	max-width: 250px;
	height: 50px;
	display: inline-block;
}

.x-large-headline {
	font-size: 50px;
}
/* --- END Basic Styles: Classes --- */

/* -------------------- Sitewide Styles: Header -------------------- */

a.button.logo-home-main {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}

a.button.logo-home-main img.button.logo-home-main {
	width: 50px;
	height: 50px;
}

header div.main-content {
	position: relative;
}

header nav.main-site-nav {
	position: absolute;
	right: 50px;
	top: 60px;
}
/* --- END Sitewide Styles: Header --- */

/* -------------------- Sitewide Styles: Content -------------------- */

a.button-small {
	margin: 50px;
}
/* --- END Sitewide Styles: Content --- */

/* -------------------- Sitewide Styles: Footer -------------------- */
/* --- END Sitewide Styles: Footer --- */

/* -------------------- Sitewide Styles: Media Queries -------------------- */

@media (max-width: 500px) {
	header nav.main-site-nav {
		position: static;
		display: block;
		margin: 20px 0px 0px 0px;
		text-align: center;
	}

	nav ul li {
		display: block;
		margin: 7px;
		width: 100px;
	}
}
