section.features-1 {

}

section.features-1 div.col-wrapper:nth-child(1) {
	height: 500px;
}

section.features-1 div.col-wrapper div:nth-child(1) {
	top: 0;
	left: 0;
	height: 500px;
	background: url("../img/home-feature-img-1.png") no-repeat center;
	background-size: cover;
}

section.features-1 div.col-wrapper div:nth-child(2) {
	top: 0;
	right: 0;
	height: 500px;
	text-align: center;
}

section.features-1 div.col-wrapper div:nth-child(2) p {
	display: block;
	width: 60%;
	margin: 12% auto 5% auto;
}

section.features-2 {

}

section.features-2 div.col-wrapper:nth-child(1) {
	height: 500px;
}

section.features-2 div.col-wrapper div:nth-child(1) {
	top: 0;
	left: 0;
	height: 500px;
	text-align: center;
	background-color: #f2c082;
}

section.features-2 div.col-wrapper div:nth-child(1) p {
	display: block;
	width: 50%;
	margin: 18% auto 5% auto;
}

section.features-2 div.col-wrapper div:nth-child(2) {
	top: 0;
	right: 0;
	height: 500px;
	background: url("../img/home-feature-img-2.png") no-repeat center;
	background-size: cover;
}

.section-social {
	height: 1000px;
	background: url("../img/home-social-img.png") no-repeat center top;
	background-size: cover;
	text-align: center;
}

.section-social div.main-content h1.x-large-headline {
	margin: 20px 0 0 0;
	color: #ffffff;
}

.section-social div.main-content a.social-icon-large, .section-social div.main-content a.social-icon-large img {
	width: 70px;
	height: 70px;
	margin: 20px 10px 20px 10px;
}

/* -------------------- Home Styles: Media Queries -------------------- */

@media (max-width: 1500px) {
	img.home-lettermark-main {
		margin-top: 7%;
	}
}

@media (max-width: 1200px) {
	img.home-lettermark-main {
		margin-top: 20%;
	}
}

@media (max-width: 900px) {
	img.home-lettermark-main {
		margin-top: 30%;
	}
}

@media (max-width: 700px) {
	img.home-lettermark-main {
		margin-top: 50%;
	}

	section.features-1 div.col-wrapper div:nth-child(1), section.features-1 div.col-wrapper div:nth-child(2), section.features-1 div.col-wrapper:nth-child(1) {
		height: 600px;
	}

	section.features-1 div.col-wrapper div:nth-child(2) p.body-copy {
		margin: 30% auto 5% auto;
		font-size: 14px;
		line-height: 28px;
		color: #ffffff;
	}

	section.features-1 div.col-wrapper div:nth-child(2) a.call-to-action {
		font-size: 18px;
		color: #ffffff;
	}

	section.features-2 div.col-wrapper div:nth-child(1), section.features-2 div.col-wrapper div:nth-child(2), section.features-2 div.col-wrapper:nth-child(1) {
		height: 600px;
	}

	section.features-2 div.col-wrapper div:nth-child(1) {
		background-color: rgba(255, 255, 255, 0.0);
	}

	section.features-2 div.col-wrapper div:nth-child(1) p.body-copy {
		margin: 20px auto 180px auto;
		font-size: 14px;
		line-height: 28px;
		color: #ffffff;
	}

	section.features-2 div.col-wrapper div:nth-child(1) a.call-to-action {
		font-size: 18px;
		color: #ffffff;
	}

	section.features-2 div.col-wrapper div:nth-child(2) {
		z-index: -1;
	}

	.section-social div.main-content h1.x-large-headline {
		font-size: 30px;
	}
}

@media (max-width: 650px) {
	a.button.logo-home-main {
		display: block;
		margin: 0 auto;
	}

	img.home-lettermark-main {
		margin-top: 50%;
	}
}

@media (max-width: 500px) {
	img.home-lettermark-main {
		margin-top: 70%;
	}
}
